.numAndDel {
  display: flex;
  justify-content: space-between;
}

.numAndDel div {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

.numAndDel button {
  background-color: transparent;
  border: none;
}

.numAndDel button:hover {
  text-decoration: underline;
}

.link {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 5px;
  background-color: var(--lighter-grey);
  border-radius: 12px;
  padding: 20px;
}

.editLink {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editLink div {
  display: flex;
  flex-direction: column;
}

.editLink div input,
.editLink div select {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
}

.editLink div input:focus {
  border: 1px solid var(--violet);
}

.editLink div select:focus {
  border: 1px solid var(--violet);
}
