.linksDiv {
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
  position: relative;
}

.linkListDiv {
  width: 205px;
  height: 200px;
}

.linkListContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 205px;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}
