.violetDiv {
  background-color: var(--violet);
  width: 100%;
  margin: 0;
  padding-top: 24px;
  height: 357px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px;
  margin-bottom: 0;
  padding: 12px 24px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.shareBtn {
  background-color: var(--violet);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 46px;
  width: 133px;
}

.shareBtn:hover {
  background-color: var(--light-violet);
}

.backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--white);
  color: var(--violet);
  border: 1px solid var(--violet);
  border-radius: 8px;
  cursor: pointer;
  height: 46px;
  width: 133px;
}

.backBtn:hover {
  background-color: var(--light-violet);
}
