.formDiv {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: 482px;
  border-radius: 12px;
  padding: 40px;
  width: 396px;

  gap: 40px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: full;
}

.inputDiv input {
  height: 48px;
}

.formsDiv {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
