.mainDiv {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 808px;
  height: auto;
  border-radius: 12px;
  background-color: var(--white);
  gap: 40px;
}

.emptyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lighter-grey);
  border-radius: 8px;
  padding: 20px;
  gap: 40px;
}

.btnDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 24px 0;
}

.addNewBtn {
  border: 2px solid var(--violet);
  color: var(--violet);
  background-color: var(--white);
  border-radius: 8px;
  text-decoration: none;
  width: 100%;
  height: 46px;
}

.addNewBtn:hover {
  background-color: var(--light-violet);
}

.emptyDivContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.saveBtn {
  color: var(--white);
  background-color: var(--light-violet);
  border: none;
  border-radius: 8px;
  height: 46px;
  width: 91px;
}
