:root {
  --violet: #633cff;
  --light-violet: #beadff;
  --lighter-violet: #efebff;
  --black: #333333;
  --grey: #737373;
  --light-grey: #d9d9d9;
  --lighter-grey: #fafafa;
  --white: #ffffff;
  --red: #ff3939;
}
body {
  background-color: var(--light-grey);
}

.headingMedium {
  font-size: 32px;
  color: var(--black);
  line-height: 150%;
  margin: 0;
}

.headingSmall {
  font-size: 16px;
  color: var(--black);
  line-height: 150%;
  margin: 0;
}

.bodyMedium {
  font-size: 16px;
  color: var(--black);
  line-height: 150%;
  font-weight: normal;
  margin: 0;
}

.bodySmall {
  font-size: 12px;
  color: var(--black);
  line-height: 150%;
  font-weight: normal;
  margin: 0;
}
