.btn {
  width: 205px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  color: white;
  margin: 8px 0;
}

.btn div {
  display: flex;
  align-items: center;
  gap: 8px;
}
