.registerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 709px;
  width: 476px;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 51px;
}
